{% extends "base.html" %}

{% block head %}
{{super()}}
<link rel="stylesheet" href="{{url_for('static',filename='css/patient-profile.css')}}">
{% endblock %}

{% block title %}
Patient Profile | {{ patient.first_name }} {{ patient.last_name }}
{% endblock %}

{% block nav %}
<a href="{{ url_for('admin.dashboard') }}" class="nav-item">
  <i class="fas fa-chevron-left"></i>
  Back To Dashboard
</a>
{% endblock %}

{% block body %}
<div class="header">
  <div class="page-title">
    <h1>Patient Profile</h1>
  </div>
</div>

<div class="patient-header">
  <div class="patient-info">
    <h2>{{ patient.first_name }} {{ patient.last_name }}</h2>
    <p>{{ patient.age }} years old, <span style="text-transform: capitalize;">
        {{ patient.gender }}</span></p>
    {% if patient_address %}
    <p>{{ patient_address.region }}, {{ patient_address.district }}, {{ patient_address.location }}</p>
    {% endif %}
    <div class="patient-meta">
      <div class="meta-item">
        <i class="fas fa-id-card"></i>
        ID: PT - {{ patient.unique_id }}
      </div>
      <div class="meta-item">
        <i class="fas fa-phone"></i>
        {{ patient.phone_number_1 }}
        {% if patient.phone_number_2 %}
        /
        {{ patient.phone_number_2 }}
        {% endif %}
      </div>
    </div>
  </div>
  <div class="patient-actions">
    <a href="{{ url_for('admin.edit_patient', patient_id=patient.unique_id) }}">
      <button class="btn btn-outline">
        <i class="fas fa-edit"></i> Edit
      </button>
    </a>
    <a href="{{ url_for('admin.create_appointment', patient_id=patient.unique_id) }}">
      <button class="btn btn-primary">
        <i class="fas fa-calendar-plus"></i> New Appointment
      </button>
    </a>
  </div>
</div>

<div class="patient-content">
  <div class="patient-main">
    <div class="tabs">
      <div class="tab active" data-tab="medical">Medical History</div>
      <div class="tab" data-tab="prescriptions">Prescriptions</div>
      <div class="tab" data-tab="lab">Lab Tests</div>
      <div class="tab" data-tab="payments">Payments</div>
    </div>

    <div class="tab-content active" id="medical">
      <div class="section-title">Recent Medical History</div>
      {% if patient_appointments %}
      <table>
        <thead>
          <tr>
            <th>Appointment ID</th>
            <th>Date Opened</th>
            <th>Date Closed</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          {% for appointment in patient_appointments|sort(attribute="id", reverse=True) %}
          <tr>
            <td>
              <a target="_blank" href="{{ url_for('admin.appointment', appointment_id=appointment.unique_id) }}">
                {{ appointment.unique_id }}
                <i class="fa-solid fa-arrow-up-right-from-square"></i>
              </a>
            </td>
            <td>{{ appointment.date_created.strftime("%b, %d %Y") }}</td>
            <td>
              {% if appointment.date_closed %}
              {{ appointment.date_closed.strftime("%b, %d %Y") }}
              {% else %}
              Ongoing
              {% endif %}
            </td>
            <td>
              {% if appointment.is_active %}
              <span class="status-badge pending">Ongoing</span>
              {% else %}
              <span class="status-badge completed">Completed</span>
              {% endif %}
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% else %}
      <p class="else">No medical history</p>
      {% endif %}
    </div>

    <div class="tab-content" id="prescriptions">
      <div class="section-title">Active Prescriptions</div>
      {% if patient_prescriptions %}
      <table>
        <thead>
          <tr>
            <th>Prescription ID</th>
            <th>Date Prescribed</th>
            <th>Prescribed Medication</th>
            <th>Note</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          {% for prescription in patient_prescriptions|sort(attribute="date_created", reverse=True) %}
          <tr>
            <td>
              <a target="_blank"
                href="{{ url_for('admin.appointment', appointment_id=prescription.appointment_prescription.unique_id) }}">
                {{ prescription.appointment_prescription.unique_id }}
                <i class="fa-solid fa-arrow-up-right-from-square"></i>
              </a>
            </td>
            <td>{{ prescription.date_created.strftime("%b, %d %Y") }}</td>
            <td>{{ prescription.prescription_details }}</td>
            <td>
              {% if prescription.note %}
              {{ prescription.note|truncate(50) }}
              {% else %}
              ---
              {% endif %}
            </td>
            <td>
              {% if prescription.is_paid %}
              <span class="status-badge completed">Paid</span>
              {% else %}
              <span class="status-badge pending">Pending</span>
              {% endif %}
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% else %}
      <p class="else">No prescriptions</p>
      {% endif %}
    </div>

    <div class="tab-content" id="lab">
      <div class="section-title">Lab Tests</div>
      {% if patient_lab_analysis %}
      {% for lab_analysis in patient_lab_analysis|sort(attribute="date_created", reverse=True) %}
      <div class="prescription-item">
        <div class="prescription-details lab-test-box">
          <div class="prescription-name lab-name">
            Lab Test: #{{ lab_analysis.unique_id }}
            <p class="history-date">{{ lab_analysis.date_created.strftime("%B %d, %Y") }}</p>
          </div>
          <div class="prescription-dosage lab-analysis">
            {% for lab_analysis_detail in lab_analysis.lab_analysis_details %}
            <div class="lab-analysis-box">
              <h4>{{ lab_analysis_detail.test }}</h4>
              <p>{{ lab_analysis_detail.result }}</p>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
      {% endfor %}
      {% else %}
      <p class="else">No Lab records</p>
      {% endif %}
    </div>

    <div class="tab-content" id="payments">
      <div class="section-title">Payments</div>
      {% if patient_payments %}
      <table>
        <thead>
          <tr>
            <th>Transaction ID</th>
            <th>Amount Paid</th>
            <th>Date Paid</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          {% for payment in patient_payments|sort(attribute="date_paid", reverse=True) %}
          <tr>
            <td>
              {{ payment.unique_id }}
            </td>
            <td>{{ "Tsh {:,}".format(payment.amount) }}</td>
            <td>
              {% if payment.date_paid %}
              {{ payment.date_paid.strftime("%b, %d %Y") }}
              {% else %}
              ---
              {% endif %}
            </td>
            <td>
              {% if payment.is_pending %}
              <span class="status-badge pending">Pending</span>
              {% else %}
              <span class="status-badge completed">Completed</span>
              {% endif %}
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% else %}
      <p class="else">No Payment records</p>
      {% endif %}
    </div>
  </div>
</div>

{% endblock %}

{% block script %}
<script src="{{ url_for('static', filename='js/home.js') }}"></script>
{% endblock %}