.container{
display: grid;
grid-template-columns: repeat(3,1fr);
gap: 2rem;
padding: 1rem;
}

.sections {
    outline: 1px solid black;
    padding: 1rem;
    background-color: #e4e9ee;
    outline-offset: 4px; /* Space between the element border and outline */
    border-radius: 15px; /* Radius for rounded corners */
}