.client-details, .medicine {
  margin-top: 1.5rem;
  height: 76vh;
  overflow-y: scroll;
  padding-right: 0.3rem;
}

.medicine-header,.client-header{
  display:flex;
  justify-content: space-between;
  align-items: center;
}


table {
  min-width: 100%;
  outline: 1px solid red;
}

#th {
  background-color: var(--light-green);
}

th {
  color: var(--white);
}

.add_button{
  float: left;

}

td, th {
  padding: 0.5rem;
  
}

th {
  text-align: left;
}

.prescription-box{
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  align-items: center;
}

.prescription-details {
  flex-grow: 1;
  background-color: var(--dark-green);
  padding: 1rem;
  border-radius: var(--radius-s);
  cursor: pointer;
  width: 300px; /* Set a fixed width for both boxes */
  height: 160px; /* Set a fixed height for both boxes */
  overflow-y: auto; /* Enable vertical scrolling when content exceeds height */
  display: flex;
  flex-direction: column; /* Ensures content flows vertically */
}

.prescription-details p, .prescription-details h4 {
  color: var(--white);
}

.payment-box{
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  align-items: center;
}

.payment{
  background-color: var(--dark-green);
  padding: 1rem;
  border-radius: var(--radius-s);
  cursor: pointer;
}

.payment-status p{
 color: var(--light-green);
}

.payment p, .payment h4 {
  color: var(--white);
}

.menu_dashboard, button{
  cursor: pointer;
}