.new_medicine_header, .edit_medicine_header{
    color: var(--white);
    padding: 1rem;
}


.new_medicine, .edit_medicine {
    padding: 1rem;
    border-radius: 0.8rem;
    background-color: var(--dark-green);
    border: 2px;
    color: var(--white);
    flex-grow: 1;
}

label{
    color: var(--white);
}