.new_medicine_header, .edit_medicine_header{
    color: var(--white);
    padding: 1rem;
}


.new_medicine, .edit_medicine {
    padding: 1rem;
    border-radius: 0.8rem;
    background-color: var(--dark-green);
    border: 2px;
    color: var(--white);
    flex-grow: 1;
}

label{
    color: var(--white);
}

@media (max-width: 600px) {
    .new_medicine_header, .edit_medicine_header {
        font-size: 1.2rem;
    }

    .new_medicine, .edit_medicine {
        padding: 0.8rem;
        max-width: 100%;
    }
}

@media (max-width: 400px) {
    .new_medicine_header, .edit_medicine_header {
        font-size: 1rem;
    }

    .new_medicine, .edit_medicine {
        border-radius: 0.5rem;
        padding: 0.6rem;
    }
}
