.new-patient, .edit-patient{
  margin-top: 2rem;
  padding: 1rem;
  gap: 3rem;
  }

  form{
    margin-top: 1rem;
    background-color: var(--dark-green);
    padding: 1rem;
    border-radius: 0.8rem;
  }

  h4{
    color: var(--black);
    font-size: 2rem;
  }

  .edit-patient h4{
    color: var(--black);
    font-size: 2rem;
  }

  .edit-patient select{
    padding: 0.3rem;
  }



  label{
    color: var(--white);
    
  }

  .new-patient input, .edit-patient input, .new-patient select {
  margin-bottom: 1.5rem; /* Space between each input field */
  padding: 0.3rem; /* Inner spacing inside input boxes */
  }